@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('PFBeauSansPro-Regular.eot');
    src: url('PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('PFBeauSansPro-Regular.woff') format('woff'),
        url('PFBeauSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('PFBeauSansPro-Black.eot');
    src: url('PFBeauSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('PFBeauSansPro-Black.woff') format('woff'),
        url('PFBeauSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('PFBeauSansPro-Bold.eot');
    src: url('PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('PFBeauSansPro-Bold.woff') format('woff'),
        url('PFBeauSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font: 14px "PF BeauSans Pro", Arial, Helvetica, sans-serif;
}
header > .navbar {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}
header {
    background: -moz-linear-gradient(top, #4a4a4a 0%, #292929 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4a4a4a 0%,#292929 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4a4a4a 0%,#292929 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-bottom: 2px solid #07904e;
}
.navbar {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.navbar_link {
    display: inline-block;
    width: 100px;
    border: 1px solid #db2626;
    border-radius: 7px;
    padding: 10px 10px 10px 40px;
    color: #fff;
    font-size: 14px;
    background: url(../img/navbarlink.png) 6px center no-repeat, linear-gradient(to top, #6e1313, #ad1e1e);
    box-sizing: border-box;
    text-align: center;
    flex-basis: 11%;
}
.navbar_link:hover {
    background: url(../img/navbarlink.png) 6px center no-repeat, linear-gradient(to top, #4a0404, #e22c2c);
}
.left_block {
    flex-basis: 25%;
    
}
.mid_block{
    flex-basis: 60%;
   
}
.mid_block a{
    color: #ffffff;
    margin-right: 10px;
    border-right: 1px solid #202020;
    padding-right: 15px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.mid_block a span{
    position: absolute;
    top: 5px;
    left: 24px;
    color: #5bff99;
}

.top_text_right{
    position: relative;
    margin-left: 32px;  
}

.top_text{
    position: relative;
}
.mid_block a:hover{
    color: #5bff99;
}
.container {
    width: 960px;
    margin: 0 auto;
    
}
main{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center top;
}
a {
    text-decoration: none;
    color: #fff;
}
.login {

}
.form_login {
    max-width: 280px;
    background-color: rgba(0,0,0, 0.38);
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 25px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

.form_title {
    font-family: 'Arial', bold;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    margin-bottom: 20px;
    color: #ffffff;
}
.form_login input{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0 0 5px 3px rgba(0,0,0, 0.3);
    color: grey;
    margin-bottom: 10px;
}
.form_login a{
    font-size: 11px;
    text-align: left;
    display: flex;
}
.submit_button {
    display: inline-block;
    padding: 15px 20px;
    background: linear-gradient(to top, #a00000, #ff1c15);
    border-radius: 7px;
    border: 0;
    color: #fff;
    font: 18px Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: all .1s ease;
    float: right;
}
.submit_button:hover {
    background: linear-gradient(to top, #d30000, #ff4a47);
}
.logo_text {
    color: #fff;
}
.register_button {
    background-color: rgba(0,0,0, .38);
    max-width: 280px;
    text-align: center;
    color: #fff;
    padding: 15px 10px;
    border-radius: 5px;
}
.register_button a{
    font-size: 18px;
    font-style: italic;
}
.reg_button:hover {
    background: linear-gradient(to top, #0b9150, #27ff96);
}
.reg_button {
    display: inline-block;
    width: 95%;
    margin: 0 auto;
    font-weight: bold;
    color: #fff;
    font: 20px Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, #086c3c, #1cbe70);
    border-radius: 5px;
    padding: 15px 0;
    border: 1px;
    cursor: pointer;
    margin-top: 5px;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}
.logo_text {
    position: absolute;
    left: 40%;
    top: 60px;
    font-size: 36px;
    width: 300px;
    display: block;
    text-align: left;
}
.bold_text {
    font-weight: bold;
}
.margin_p_first {
    margin-bottom: 0px;
}
.margin_p_second {
    margin-top: 0px;
}
.cards {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:  60px;
    padding-bottom:  60px;
}
.card {
    flex-basis: 25%;
    min-width: 225px;
    padding-top: 118px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-color: rgba(255,255,255, .7);
    box-shadow: 0px 0px 1px 1px #4c4c3e;
}
.card:hover{
    box-shadow: 0px 0px 1px 1px #ffff00;
}
.card_football {
    background-image: url(../img/football.jpg);
}
.card_mid_block{
    background-color: #c1611a;
    padding: 8px;
    position: relative;
}
.card_text_mid {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0.5px black;
}
.card_image_mid{
    position: absolute;
    top: -10px;
    right: 10px;
}
.card_block{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
}
.card_text_bot {
    font-size: 45px;
    margin: 0;
    font-weight: bold;
}
.card_text_bot_second {
    text-align: center;
}
.card_text_bot_low{
    text-align: center;
    font-size: 11px;
    margin-bottom: 8px;
}
.background_button {
    background: linear-gradient(to top, #c56125, #fc792e);
}
.card_button_link {
    display: block;
    width: 80%;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px 0;
    text-transform: uppercase;
    
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.card_button_link:hover{
    background: linear-gradient(to top, #ff7b1d, #ff8f44);
}
.card_block_bot {
    margin-bottom: 10px;
}
.card_football_second {
    background-image: url(../img/football2.jpg);
}
.blue{
    background-color: #1b72ff;
}
.background_button_football2 {
    background: linear-gradient(to top, #144dac, #2371f5);
}
.background_button_football2:hover {
    background: linear-gradient(to top, #146aff, #317dff);
}
.card_casino {
    background-image: url(../img/casino.jpg);
}
.green {
    background-color: #8cac29;
}
.background_button_casino {
    background: linear-gradient(to top, #66840e, #87af13);
}
.background_button_casino:hover{
    background: linear-gradient(to top, #94be15, #a2c92f);
}
.card_poker {
    background-image: url(../img/poker.jpg);
}
.red {
    background-color: #ea4229;
}
.background_button_poker{
    background: linear-gradient(to top, #ad2a1a, #f9402a);
}
.background_button_poker:hover{
    background: linear-gradient(to top, #fa3d27, #f55f4e);
}